body {
  background: url('https://images.unsplash.com/photo-1523266092241-0077129f31fe?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1a7d7daad181fb9f0e5f61836a8639b9&auto=format&fit=crop&w=1049&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}

div.col-6 {
  background-color: rgba(255, 255, 255, 0.95)
}

div.card {
  background-color: rgba(255, 255, 255, 0.95)
}

h3.text-center {
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 4px;
  background-color: lightgray;
  box-shadow: 2px 4px gray;
}

html {
  height: 100%;
}

nav {
  background-color: rgba(255, 255, 255, 0.95)
}

p.card-text {
  white-space: pre-line;
}

#task-form {
  background-color: rgba(255, 255, 255, 0.95)
}
